<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Band Together</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
    <nav class="d-flex justify-content-between align-items-center col-12">
            <div class="container">
                <div class="row">
                <div class="col">
                    <h1>Arbortrary</h1>
                    <br>
                    <p>A site to track randomly planted trees</p>            
                </div>
                <div class="col" style="text-align: right;">
                    <a href="/user/account" style="display:inline-block;margin-right:10px;">My Trees</a>
                    <h1 style="display:inline-block">Welcome {{user.first_name}}!</h1>
                    <div>
                        <a href="/dashboard" class="btn btn-primary">Dashboard</a>
                        <a href="/logout" class="btn btn-info">Logout</a>            
                </div>
                </div>
            </div>
        </div>
    </nav>
    <br>
    <br>

    <form action="/update/tree" method="post" class="col-4 p-4">
        <h2 class="text-success">Re-Plant Your Tree</h2>
        {% with messages = get_flashed_messages(category_filter=['tree']) %}    
            {% if messages %}                            
                {% for message in messages %}           
                    <p>{{message}}</p>                  
                {% endfor %}
            {% endif %}
        {% endwith %}
        <div class="form-group">
            <input type="hidden" name="id" value={{tree.id}}>
            <label for="species">Species:</label>
            <input type="text" name="species" class="form-control" value="{{tree.species}}">
        </div>
        <div class="form-group">
            <label for="location">Location:</label>
            <input type="text" name="location" class="form-control" value="{{tree.location}}">
        </div>
        <div class="form-group">
            <label for="reason">Reason:</label>
            <input type="text" name="reason" class="form-control" value="{{tree.reason}}">
        </div>
        <div class="form-group">
            <label for="date">Date Planted:</label>
            <input type="date" name="date" class="form-control" value="{{tree.date.strftime('%Y-%m-%d')}}">
        </div>
        <input type="submit" value="Update" class="btn btn-success">
    </form>

</body>
</html>